
#body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#threejs-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: 1;
}

#dropdown_menu{
    position: relative;
    font-size: 30px;
    padding-bottom: 30%;
    width: 20%;
    z-index: 2;
}

.dm_material{
    position: absolute;
    color: red;
    font-size: 20px;
    display: none;
    z-index: 3;
}

#dm_one{
    top: 10%;
}
#dm_two{
    top: 20%;
}
#dm_three{
    top: 30%;
}

#picture_of_my_cat{
    top: 35%;
    width: 25%;
    height: 75%;
    z-index: 2;
}

.changes_why_content{
    display: none;
    z-index: 3;
    position: absolute;
    text-align: center;
    width: 80%;
    left: 10%;
}

#reg_plastic_bottles{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#reg_plastic_bottles2{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#reg_plastic_bottles3{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.sa_area_diff_content{
    display: none;
    z-index: 3;
    position: absolute;
    font-size: 20px;
    left: 36.5%;
    width: 30%;
    text-align: center;
    color: red;
}
#sa_area_diff{
    top: 35%;
}
#sa_area_diff2{
    top: 55%;
}


.math_involved_content{
    display: none;
    z-index: 5;
    position: absolute;
    margin-bottom: 5%;
    width: 30%;
    text-align: center;
    font-size: 15px;
    color: red;
}


#math_involved{
    top: 20%;
    right: 36%;
    left: 36%;
}
#math_involved2{
    top: 30%;
    right: 36%;
    left: 36%;
}
#math_involved3{
    top: 40%;
    right: 36%;
    left: 36%;
}
#math_involved4{
    top: 47%;
    right: 36%;
    left: 36%;
}
#math_involved5{
    top: 50%;
    right: 36%;
    left: 36%;
}

#background{
    top: 30%;
    left: 20%;
    width: 20%;
}

#background2{
    top: 25%;
    left: 65%;
}

#stuff{
    left: 65%;
    top: 0%;
}
#stuff2{
    left: 65%;
    top: 60%;
}
#stuff3{
    left: 14%;
    top: 0%;
    width: 20%;
}
#stuff4{
    left: 35%;
    top: 67%;
}

#inputa{
    display: none;
    top: 56%;
    position: absolute;
    font-size: 10px;
    z-index: 4;
    left: 40%;
    max-width: 4%;
    height: 3%;
}

#one_inputa{
    position: absolute;
    height: 100%;
    z-index: 4;
    max-width: 100%;
}

#btn{
    display: none;
    top: 61%;
    position: absolute;
    height: 2%;
    font-size: 10px;
    z-index: 4;
    left: 45%;
    max-width: 10%;
}

#input1{
    display: none;
    position: absolute;
    height: 5%;
    font-size: 10px;
    background-color: red;
    border: 1px solid black;
    color: black;
    z-index: 4;
    left: 45%;
    max-width: 10%;
    top: 62%;
}
#giveupfr{
    display: none;
    position: absolute;
    height: 3%;
    width: 10%;
    left: 50%;
    color: red;
    z-index: 4;
    top: 54%;
}

#explain_btn{
    display: none;
    position: absolute;
    color: red;
    z-index: 7;
    top: 60%;
}

#explain{
    display: none;
    position: absolute;
    background-opacity: 50%;
    background-color: DarkSalmon;
    z-index: 6;
    top: 0;
    height: 100%;
    font-size: 30px;
}

@keyframes fadein{
    0%{
        display: none;
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
    }
}

@keyframes fadeout{
    0%{
        display: block;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}
